Part I: Warm-up alignment table

In [3]:
# 1. Given the following table/matrix, write a python code to store the table into python variable. (hint: feel free to use list
# or ordered dictionary or pandas table or other data structure in python).

# storing the matrix using nested lists 
matrix = [[1,1,1],[2,2,2],[3,3,3]]

In [4]:
#2. (2 points) Write for loop to print out the elements in the variable created in question 1.

def print_matrix(matrix):
  # iterating over the matrix index and rows to print the 
  for index,row in enumerate(matrix):
    print(f"Row {index} :", row)

In [5]:
print_matrix(matrix)

Row 0 : [1, 1, 1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]

In [6]:
# 3. Given the variable created in question 1, write python codes to change its first row to [-1, -1, -1]. An
# example output is attached below:

row_val = 0
temp =[]
# iterating over the given row and multiplying with the gap value
for val in matrix[row_val]:
  temp.append(val*-1)
matrix[row_val] = temp

In [7]:
print_matrix(matrix)

Row 0 : [-1, -1, -1]
Row 1 : [2, 2, 2]
Row 2 : [3, 3, 3]

In [8]:
# 4. Given the variable created in question 3, write python codes to change its first column to [-1, -1, -1]. An
# example output is attached below:

updated_column = [-1,-1,-1]
col_num=1
## iterating over the given column and updating with the updated values using updated_column
for ind,val in enumerate(matrix):
  matrix[ind][col_num-1]=updated_column[ind]

In [9]:
print_matrix(matrix)

Row 0 : [-1, -1, -1]
Row 1 : [-1, 2, 2]
Row 2 : [-1, 3, 3]

In [11]:
# 5. Suppose we have two sequences (X and Y). The length of X is M, and the length of Y is N. We would like to
# create an alignment table with M+1 rows and N+1 columns, write a python function to create an alignment table with all
# values equal to 0. An example code is attached below:

def alignment_table(sequence_1,sequence_2):
  print(f"sequence 1: {sequence_1} with length {len(sequence_1)}")
  print(f"sequence 2: {sequence_2}  with length {len(sequence_2)}")

  m = len(sequence_1)+1
  n = len(sequence_2)+1
  # using list comprehension we are creating a nested list of size (m+1)*(n+1)
  return [[0 for i in range(n)] for j in range(m)]

In [12]:
table = alignment_table('AATTATATT','ACGTTAT')
print_matrix(table)

sequence 1: AATTATATT with length 9
sequence 2: ACGTTAT  with length 7
Row 0 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 1 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 2 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 3 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 4 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 5 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 6 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 7 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 8 : [0, 0, 0, 0, 0, 0, 0, 0]
Row 9 : [0, 0, 0, 0, 0, 0, 0, 0]

In [68]:
# 6. (6 points) Given what you have done in question 5, we create the initial alignment table for the two sequences (X
# and Y). Now we would like to initialize the first row and first column as the following rules,

def alignment_table_updated(sequence_1,sequence_2,row_val=0, col_val=0,gap=-1):
  print(f"sequence 1: {sequence_1} with length {len(sequence_1)}")
  print(f"sequence 2: {sequence_2}  with length {len(sequence_2)}")

  m = len(sequence_1)+1
  n = len(sequence_2)+1
  mn = [[0 for i in range(n)] for j in range(m)]

  # a. for the first row, filling out each value by the adding value 'gap penalty' (i.e., -1) to its left cell's value. For instance,
  # [0,0,0,0] will be [0, -1, -2, -3].

  # iterating over all the values of the given row to add gap penatly 
  sub_mn = mn[row_val]
  for ind,element in enumerate(sub_mn):
    sub_mn[ind] = ind*gap
    
  # iterating over the given column and adding column gap penalty
  tmp =0
  for ind,val in enumerate(mn):
    mn[ind][col_val] = ind*gap

  return mn

In [69]:
print_matrix(alignment_table_updated('AATTATATT','ACGTTAT'))

sequence 1: AATTATATT with length 9
sequence 2: ACGTTAT  with length 7
Row 0 : [0, -1, -2, -3, -4, -5, -6, -7]
Row 1 : [-1, 0, 0, 0, 0, 0, 0, 0]
Row 2 : [-2, 0, 0, 0, 0, 0, 0, 0]
Row 3 : [-3, 0, 0, 0, 0, 0, 0, 0]
Row 4 : [-4, 0, 0, 0, 0, 0, 0, 0]
Row 5 : [-5, 0, 0, 0, 0, 0, 0, 0]
Row 6 : [-6, 0, 0, 0, 0, 0, 0, 0]
Row 7 : [-7, 0, 0, 0, 0, 0, 0, 0]
Row 8 : [-8, 0, 0, 0, 0, 0, 0, 0]
Row 9 : [-9, 0, 0, 0, 0, 0, 0, 0]

In [70]:
# Part 2: Advancing alignment table computing for global alignment

def buildNWTable(X, Y, match=1, mismatch=-1, gap=-1):
  # print("Sequence 1:", X)
  # print("Sequence 2:", Y)
  #### Note 1: create table of zeros with dimension (1+|X|)-by-(1+|Y|)
  # X: vertical, Y:horizontal
  opt = []
  #### 1. Inside the function 'buildNWTable' above, the code correctly determines how to initialize the alignment table with all 0s.
  table = alignment_table(X,Y)
  #### 2. Inside the function 'buildNWTable' above, the code correctly determines how to initialize the first row and first column.
  table = alignment_table_updated(X,Y)

  #### 3. Inside the function 'buildNWTable' above, the code correctly determines how to calculate the score in each cell for each possible alignment.


  # iterating over the whole matrix to fill all the cells with score based on the given rules 
  for index_m, val in enumerate(table):
    for index_n, subval in enumerate(val):
      if index_m>0 and index_n >0:
        score = match if X[index_m-1]==Y[index_n-1] else mismatch
        # score caluclation using the nw algorithm
        table[index_m][index_n] = max((score+table[index_m-1][index_n-1]),
                                      (gap+table[index_m-1][index_n]),
                                      (gap+table[index_m][index_n-1]))
  #### Print the final table
  print_matrix(table)

  ## 4. Inside the function 'buildNWTable' above, the code correctly returns the optimal alignment table
  return table

In [71]:
# 5. (15 points) Testing the python program using any example sequences (i.e., sequence 1: TTGCT, sequence 2: CTTCCT)
# to answer the following questions.
buildNWTable('TTGCT','CTTCCT')

sequence 1: TTGCT with length 5
sequence 2: CTTCCT  with length 6
sequence 1: TTGCT with length 5
sequence 2: CTTCCT  with length 6
Row 0 : [0, -1, -2, -3, -4, -5, -6]
Row 1 : [-1, -1, 0, -1, -2, -3, -4]
Row 2 : [-2, -2, 0, 1, 0, -1, -2]
Row 3 : [-3, -3, -1, 0, 0, -1, -2]
Row 4 : [-4, -2, -2, -1, 1, 1, 0]
Row 5 : [-5, -3, -1, -1, 0, 0, 2]

[[0, -1, -2, -3, -4, -5, -6],
 [-1, -1, 0, -1, -2, -3, -4],
 [-2, -2, 0, 1, 0, -1, -2],
 [-3, -3, -1, 0, 0, -1, -2],
 [-4, -2, -2, -1, 1, 1, 0],
 [-5, -3, -1, -1, 0, 0, 2]]

In [72]:
# 5. (15 points) Testing the python program using any example sequences (i.e., sequence 1: TTGCT, sequence 2: CTTCCT)
# to answer the following questions.
buildNWTable('CTGTCG','CTTCCTGCTTC',match=2,mismatch=-1,gap=-4)

sequence 1: CTGTCG with length 6
sequence 2: CTTCCTGCTTC  with length 11
sequence 1: CTGTCG with length 6
sequence 2: CTTCCTGCTTC  with length 11
Row 0 : [0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11]
Row 1 : [-1, 2, -2, -3, -1, -2, -6, -7, -5, -9, -10, -8]
Row 2 : [-2, -2, 4, 0, -4, -2, 0, -4, -8, -3, -7, -11]
Row 3 : [-3, -3, 0, 3, -1, -5, -3, 2, -2, -6, -4, -8]
Row 4 : [-4, -4, -1, 2, 2, -2, -3, -2, 1, 0, -4, -5]
Row 5 : [-5, -2, -5, -2, 4, 4, 0, -4, 0, 0, -1, -2]
Row 6 : [-6, -6, -3, -6, 0, 3, 3, 2, -2, -1, -1, -2]

[[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11],
 [-1, 2, -2, -3, -1, -2, -6, -7, -5, -9, -10, -8],
 [-2, -2, 4, 0, -4, -2, 0, -4, -8, -3, -7, -11],
 [-3, -3, 0, 3, -1, -5, -3, 2, -2, -6, -4, -8],
 [-4, -4, -1, 2, 2, -2, -3, -2, 1, 0, -4, -5],
 [-5, -2, -5, -2, 4, 4, 0, -4, 0, 0, -1, -2],
 [-6, -6, -3, -6, 0, 3, 3, 2, -2, -1, -1, -2]]

In [18]:
# 5. (15 points) Testing the python program using any example sequences (i.e., sequence 1: TTGCT, sequence 2: CTTCCT)
# to answer the following questions.
table = buildNWTable('GGATCCCT','ATCGTCGGA',match=2,mismatch=-1,gap=-4)

Sequence 1: GGATCCCT
Sequence 2: ATCGTCGGA
sequence 1: GGATCCCT with length 8
sequence 2: ATCGTCGGA  with length 9
sequence 1: GGATCCCT with length 8
sequence 2: ATCGTCGGA  with length 9
Row 0 : [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
Row 1 : [-1, -1, -2, -3, -1, -5, -6, -4, -5, -9]
Row 2 : [-2, -2, -2, -3, -1, -2, -6, -4, -2, -6]
Row 3 : [-3, 0, -3, -3, -4, -2, -3, -7, -5, 0]
Row 4 : [-4, -4, 2, -2, -4, -2, -3, -4, -8, -4]
Row 5 : [-5, -5, -2, 4, 0, -4, 0, -4, -5, -8]
Row 6 : [-6, -6, -6, 0, 3, -1, -2, -1, -5, -6]
Row 7 : [-7, -7, -7, -4, -1, 2, 1, -3, -2, -6]
Row 8 : [-8, -8, -5, -8, -5, 1, 1, 0, -4, -3]

In [126]:
def get_score(a,b,match=1,mismatch=-1):
  if a==b:
    return match
  else:
    return mismatch

In [132]:
# Part III: Reconstructing the optimal alignment

def NWTraceBack(X, Y, table, match=1, mismatch=-1, gap=-1):
  
  # alignment for X
  first = ''
  # alignment for Y
  second = ''
  m = len(X)
  n = len(Y)
  ######### start reconstruction at bottom-right of table
  i=m
  j=n
  while i and j: 
        if (table[i][j]-get_score(X[i-1],Y[j-1]))==table[i-1][j-1]:
# 3. (5 points) Inside function 'NWTraceBack' above, the code correctly determines if the value table[i][j] is derived from
# the above cell table[i-1][j-1]
          first = X[i-1] + first
          second = Y[j-1] + second
          i-=1
          j-=1
        elif (table[i][j]-gap)==table[i][j-1]:
#  1. (5 points) Inside function 'NWTraceBack' above, the code correctly determines if the value table[i][j] is derived from
# the left cell table[i][j-1].
          first = "_"+first
          second = Y[j-1] + second
          j-=1
        elif (table[i][j]-gap)==table[i-1][j]:
#   2. (5 points) Inside function 'NWTraceBack' above, the code correctly determines if the value table[i][j] is derived from
# the top cell table[i-1][j].
          first = X[i-1] + first
          second = "_"+second
          i-=1
  while j:
    first = '_' + first
    second = Y[j-1] + second
    j -= 1
  while i:
    first = X[i-1] + first
    second = '_' + second
    i -= 1



  #### Print your best alignment
  print("\n")
  print("Alignment")
  print("X:",first)
  print("Y:",second)
  print("Optimal score:",table[m][n])

  # 4. (5 points) Inside function 'NWTraceBack' above, the code correctly returns the optimal alignment.
  return first,second,table[m][n]

In [133]:
# 5. (10 points) Testing the python program using example sequences (sequence 1: TTGCT, sequence 2: CTTCCT) to
# answer the following questions.

table = buildNWTable('TTGCT','CTTCCT')
align1,align2,opt_score = NWTraceBack('TTGCT','CTTCCT',table)

sequence 1: TTGCT with length 5
sequence 2: CTTCCT  with length 6
sequence 1: TTGCT with length 5
sequence 2: CTTCCT  with length 6
Row 0 : [0, -1, -2, -3, -4, -5, -6]
Row 1 : [-1, -1, 0, -1, -2, -3, -4]
Row 2 : [-2, -2, 0, 1, 0, -1, -2]
Row 3 : [-3, -3, -1, 0, 0, -1, -2]
Row 4 : [-4, -2, -2, -1, 1, 1, 0]
Row 5 : [-5, -3, -1, -1, 0, 0, 2]


Alignment
X: _TTGCT
Y: CTTCCT
Optimal score: 2

In [134]:
# 5. (10 points) Testing the python program using example sequences (sequence 1: TTGCT, sequence 2: CTTCCT) to
# answer the following questions.

table = buildNWTable('AGGCTT','AGG')
align1,align2,opt_score = NWTraceBack('AGGCTT','AGG',table)

sequence 1: AGGCTT with length 6
sequence 2: AGG  with length 3
sequence 1: AGGCTT with length 6
sequence 2: AGG  with length 3
Row 0 : [0, -1, -2, -3]
Row 1 : [-1, 1, 0, -1]
Row 2 : [-2, 0, 2, 1]
Row 3 : [-3, -1, 1, 3]
Row 4 : [-4, -2, 0, 2]
Row 5 : [-5, -3, -1, 1]
Row 6 : [-6, -4, -2, 0]


Alignment
X: AGGCTT
Y: AGG___
Optimal score: 0

In [135]:
# GCATG-CG
# G-ATTACA
table = buildNWTable('GCATGCG','GATTACA')
align1,align2,opt_score = NWTraceBack('GCATGCG','GATTACA',table)

sequence 1: GCATGCG with length 7
sequence 2: GATTACA  with length 7
sequence 1: GCATGCG with length 7
sequence 2: GATTACA  with length 7
Row 0 : [0, -1, -2, -3, -4, -5, -6, -7]
Row 1 : [-1, 1, 0, -1, -2, -3, -4, -5]
Row 2 : [-2, 0, 0, -1, -2, -3, -2, -3]
Row 3 : [-3, -1, 1, 0, -1, -1, -2, -1]
Row 4 : [-4, -2, 0, 2, 1, 0, -1, -2]
Row 5 : [-5, -3, -1, 1, 1, 0, -1, -2]
Row 6 : [-6, -4, -2, 0, 0, 0, 1, 0]
Row 7 : [-7, -5, -3, -1, -1, -1, 0, 0]


Alignment
X: GCA_TGCG
Y: G_ATTACA
Optimal score: 0

In [136]:
table = buildNWTable('GAAC','CAAGAC')
align1,align2,opt_score = NWTraceBack('GAAC','CAAGAC',table)

sequence 1: GAAC with length 4
sequence 2: CAAGAC  with length 6
sequence 1: GAAC with length 4
sequence 2: CAAGAC  with length 6
Row 0 : [0, -1, -2, -3, -4, -5, -6]
Row 1 : [-1, -1, -2, -3, -2, -3, -4]
Row 2 : [-2, -2, 0, -1, -2, -1, -2]
Row 3 : [-3, -3, -1, 1, 0, -1, -2]
Row 4 : [-4, -2, -2, 0, 0, -1, 0]


Alignment
X: _GA_AC
Y: CAAGAC
Optimal score: 0